.patrat {
    width: 100px;
    height: 100px;
    background: blue;
    color: blue;
}
.patrat:hover  {
    background: lightblue;
}

.dreptunghi {
    width: 200px;
    height: 100px;
    background: red;
    color: red;
}
.dreptunghi:hover  {
    background: lightcoral;
}

.circle {
    width:100px;
    height:100px;
    border-radius: 50%;
    background: blue;
    color: blue;
}
.circle:hover {
    background: lightblue;
}

.oval {
    width: 200px;
    height: 100px;
    border-radius:50%;
    background: red;
}

.triangleExplained {
    width: 20px;
    height: 20px;
    border-top: 50px solid red;
    border-left: 50px solid yellow;
    border-right: 50px solid green;
    border-bottom: 50px solid purple;
    background: blue;
}

.triangleUp {
    width: 0px;
    height: 0px;
    /* border-top: 50px solid transparent; */
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 85px solid purple;
    /* background: blue; */
}

.triangleCorner {
    width: 0px;
    height: 0px;
    border-top: 50px solid orange;
    border-left: 50px solid orange;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    /* background: blue; */
}
